<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>DHT-11 Detay</title>
</head>

<body>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start m-3">
        <a class="btn btn-primary" href="/cihazlarim" role="button">Cihazlarım</a>
    </div>
    <div id="dht11-detail-container"></div>

    <div id="dht11-dashboard" class="container">
        <div class="container">
            <div class="row d-flex align-items-stretch">
                <div class="col-2 bg-danger bg-gradient text-white">
                    <h3>Sıcaklık: </h3>
                </div>
                <div class="col-3 bg-danger bg-gradient text-white">
                    <h3 id="sicaklik_value">Sıcaklık değeri</h3>
                </div>
                <div class="col bg-danger bg-gradient text-white">
                    <h3 class="text-end" id="sicaklik_update">Son Güncelleme Tarihi</h3>
                </div>
            </div>
            <div class="row d-flex align-items-stretch">
                <div class="col-2 bg-warning bg-gradient text-dark">
                    <h3>Nem: </h3>
                </div>
                <div class="col-3 bg-warning bg-gradient text-dark">
                    <h3 id="nem_value">Nem değeri</h3>
                </div>
                <div class="col bg-warning bg-gradient text-dark">
                    <h3 class="text-end" id="nem_update">Son Güncelleme Tarihi</h3>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
    <script id="dht11-detail-template" type="text/x-handlebars-template">
        <div class="card mb-3">
            <div class="row">
                <div class="col-4">
                    <img src=# alt="" class="img-fluid">
                </div>
                <div class="col-8">
                    <div id="deviceCard" class="card-body">
                        <h5 styleclass="card-title" style="display: inline-block;">Cihaz Adı: </h5>
                        <h5 id="ad" style="display: inline-block;">{{name}}</h5><br>
                        <p  class="card-text" style="display: inline-block;">Konu: </p>
                        <p id="konu" style="display: inline-block;">{{broker_topic}}</p>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script>
        // Sample data for demonstration purposes
        const devices = JSON.parse(localStorage.getItem('user'))['devices']
        dht11Data = devices.find(device => device.id == parseInt(window.location.href.split('/').slice(-1)))
        console.log(dht11Data)

        // Get the template source
        const templateSource = document.getElementById('dht11-detail-template').innerHTML;

        // Compile the Handlebars template
        const template = Handlebars.compile(templateSource);

        // Render the template with data
        const renderedHTML = template(dht11Data);

        const dht11DetailContainer = document.getElementById('dht11-detail-container')
        dht11DetailContainer.innerHTML = renderedHTML;
        // Find the location where you want to insert the rendered HTML (e.g., before the closing body tag)
        //document.body.insertAdjacentHTML('afterbegin', renderedHTML);
    </script>
    <!--
        <script>
            let dht_last_info = JSON.parse(localStorage.getItem('dht11_last_info'))
            document.getElementById('sicaklik_value').innerText = dht_last_info.sicaklik
            document.getElementById('sicaklik_update').innerText = dht_last_info.sicaklik_update
            document.getElementById('nem_value').innerText = dht_last_info.nem
            document.getElementById('nem_update').innerText =  dht_last_info.nem_update
        </script>
    -->
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
        const topic = document.getElementById('konu').innerText
        console.log(`topic: ${topic}`)
        socket.on('connect', () => {
            console.log('Connected to Socket.IO server');
        });

        socket.on(topic, (data) => {
            console.log(data.message)
            const values = data.message.match(/\d+/g)

            console.log(`values: ${values}`)

            const sicaklik_value = document.getElementById('sicaklik_value')
            const sicaklik_update = document.getElementById('sicaklik_update')
            sicaklik_value.innerText = `${values[0]}°C`
            sicaklik_update.innerText = Date(Date.now()).toString()

            const nem_value = document.getElementById('nem_value')
            const nem_update = document.getElementById('nem_update')
            nem_value.innerText = `${values[1]}%`
            nem_update.innerText = Date(Date.now()).toString()

            localStorage.setItem('dht11_last_info', JSON.stringify({
                "sicaklik":sicaklik_value,
                "sicaklik_update": sicaklik_update,
                "nem": nem_value,
                "nem_update": nem_update
             }))

        })
    </script>

</body>

</html>