<script id="cihaz-detay" type="text/x-handlebars-template">
    <div class="card mb-3">
        <div class="row">
            <div class="col-4">
                <img src=# alt="" class="img-fluid">
            </div>
            <div class="col-8">
                <div id="deviceCard" class="card-body">
                    <h5 styleclass="card-title" style="display: inline-block;">Cihaz Adı: </h5>
                    <h5 id="ad" style="display: inline-block;">{{name}}</h5><br>
                    <p  class="card-text" style="display: inline-block;">Konu: </p>
                    <p id="konu" style="display: inline-block;">{{broker_topic}}</p>
                </div>
            </div>
        </div>
    </div>
</script>